## Bater IDH

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./HDI.csv')

In [3]:
df

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,169,Afghanistan,0.302,0.307,0.316,0.312,0.307,0.331,0.335,0.339,...,0.472,0.477,0.489,0.496,0.5,0.5,0.502,0.506,0.509,0.511
1,69,Albania,0.65,0.631,0.615,0.618,0.624,0.637,0.646,0.645,...,0.745,0.764,0.775,0.782,0.787,0.788,0.788,0.790,0.792,0.795
2,91,Algeria,0.572,0.576,0.582,0.586,0.59,0.595,0.602,0.611,...,0.721,0.728,0.728,0.729,0.736,0.74,0.743,0.745,0.746,0.748
3,36,Andorra,..,..,..,..,..,..,..,..,...,0.837,0.836,0.858,0.856,0.863,0.862,0.866,0.863,0.867,0.868
4,148,Angola,..,..,..,..,..,..,..,..,...,0.517,0.533,0.544,0.555,0.565,0.572,0.578,0.582,0.582,0.581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,113,Venezuela (Bolivarian Republic of),0.644,0.654,0.66,0.662,0.662,0.666,0.668,0.67,...,0.757,0.769,0.772,0.777,0.775,0.769,0.759,0.743,0.733,0.711
185,117,Viet Nam,0.483,0.493,0.504,0.514,0.525,0.537,0.548,0.547,...,0.661,0.671,0.676,0.681,0.683,0.688,0.693,0.696,0.700,0.704
186,179,Yemen,0.401,0.401,0.404,0.406,0.408,0.414,0.421,0.426,...,0.506,0.506,0.504,0.509,0.502,0.483,0.474,0.467,0.468,0.470
187,146,Zambia,0.421,0.417,0.416,0.419,0.414,0.415,0.416,0.416,...,0.527,0.534,0.549,0.557,0.561,0.569,0.571,0.578,0.582,0.584
188,150,Zimbabwe,0.478,0.481,0.467,0.463,0.46,0.453,0.453,0.447,...,0.482,0.499,0.525,0.537,0.547,0.553,0.558,0.563,0.569,0.571

In [4]:
df.drop(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2017', '2018', '2019'],
        inplace=True, axis=1)

In [5]:
df

,HDI Rank,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,169,Afghanistan,0.35,0.353,0.384,0.393,0.409,0.418,0.429,0.447,0.447,0.46,0.472,0.477,0.489,0.496,0.5,0.5,0.502
1,69,Albania,0.671,0.678,0.684,0.691,0.696,0.706,0.713,0.722,0.728,0.733,0.745,0.764,0.775,0.782,0.787,0.788,0.788
2,91,Algeria,0.637,0.647,0.657,0.667,0.677,0.685,0.69,0.7,0.702,0.711,0.721,0.728,0.728,0.729,0.736,0.74,0.743
3,36,Andorra,0.813,0.815,0.82,0.827,0.833,0.827,0.837,0.837,0.84,0.839,0.837,0.836,0.858,0.856,0.863,0.862,0.866
4,148,Angola,0.4,0.41,0.426,0.435,0.446,0.46,0.473,0.489,0.501,0.515,0.517,0.533,0.544,0.555,0.565,0.572,0.578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,113,Venezuela (Bolivarian Republic of),0.676,0.684,0.692,0.692,0.704,0.718,0.731,0.748,0.757,0.756,0.757,0.769,0.772,0.777,0.775,0.769,0.759
185,117,Viet Nam,0.586,0.594,0.602,0.611,0.62,0.624,0.632,0.64,0.647,0.659,0.661,0.671,0.676,0.681,0.683,0.688,0.693
186,179,Yemen,0.444,0.453,0.461,0.47,0.477,0.483,0.488,0.492,0.495,0.502,0.506,0.506,0.504,0.509,0.502,0.483,0.474
187,146,Zambia,0.425,0.432,0.441,0.451,0.46,0.471,0.482,0.488,0.503,0.517,0.527,0.534,0.549,0.557,0.561,0.569,0.571
188,150,Zimbabwe,0.43,0.431,0.423,0.414,0.411,0.411,0.414,0.421,0.422,0.458,0.482,0.499,0.525,0.537,0.547,0.553,0.558

In [7]:
#import openpyxl

#df.to_excel('./IDH.xlsx')

In [8]:
df_paises = pd.read_csv('./asylum_seekers.csv')

/tmp/ipykernel_46/937593085.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_paises = pd.read_csv('./asylum_seekers.csv')

In [9]:
listaVertices = []

listaVertices = set(df_paises['Country / territory of asylum/residence'].unique().tolist() + df_paises['Origin'].unique().tolist())

print(len(listaVertices))

225

In [10]:
df_paises = pd.DataFrame(listaVertices, columns = ['Countries'])

In [11]:
df_paises = df_paises.sort_values('Countries', ascending=True)
df_paises

                      Countries
64                  Afghanistan
218                     Albania
99                      Algeria
91               American Samoa
68                      Andorra
..                          ...
209  Wallis and Futuna Islands
81               Western Sahara
33                        Yemen
2                        Zambia
44                     Zimbabwe

[225 rows x 1 columns]

In [23]:
df_paises.to_csv('./df_paises_nacoes.csv')

In [14]:
import openpyxl

df_IDH = pd.read_excel('IDH.xlsx')

In [13]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 5.8 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: pip install --upgrade pip

In [15]:
#df_IDH.drop('HDI Rank',inplace=True, axis=1)

In [16]:
df_IDH

,Unnamed: 0,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,0,Afghanistan,0.35,0.353,0.384,0.393,0.409,0.418,0.429,0.447,0.447,0.46,0.472,0.477,0.489,0.496,0.5,0.5,0.502
1,1,Albania,0.671,0.678,0.684,0.691,0.696,0.706,0.713,0.722,0.728,0.733,0.745,0.764,0.775,0.782,0.787,0.788,0.788
2,2,Algeria,0.637,0.647,0.657,0.667,0.677,0.685,0.69,0.7,0.702,0.711,0.721,0.728,0.728,0.729,0.736,0.74,0.743
3,3,American Samoa,0.827,0.827,0.827,0.827,0.827,0.827,0.827,0.827,0.827,0.827,0.827,0.827,0.827,0.827,0.827,0.827,0.827
4,4,Andorra,0.813,0.815,0.82,0.827,0.833,0.827,0.837,0.837,0.84,0.839,0.837,0.836,0.858,0.856,0.863,0.862,0.866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,220,Wallis and Futuna Islands,0.763,0.763,0.763,0.763,0.763,0.763,0.763,0.763,0.763,0.763,0.763,0.763,0.763,0.763,0.763,0.763,0.763
221,221,Western Sahara,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
222,222,Yemen,0.444,0.453,0.461,0.47,0.477,0.483,0.488,0.492,0.495,0.502,0.506,0.506,0.504,0.509,0.502,0.483,0.474
223,223,Zambia,0.425,0.432,0.441,0.451,0.46,0.471,0.482,0.488,0.503,0.517,0.527,0.534,0.549,0.557,0.561,0.569,0.571
224,224,Zimbabwe,0.43,0.431,0.423,0.414,0.411,0.411,0.414,0.421,0.422,0.458,0.482,0.499,0.525,0.537,0.547,0.553,0.558